@font-face {
  src: url(../fonts/Lato-Regular.ttf);
  font-family: lato-regular;
}
@font-face {
  src: url(../fonts/Lato-Bold.ttf);
  font-family: lato-bold;
}
@font-face {
  src: url(../fonts/Lato-Italic.ttf);
  font-family: lato-italic;
}
@font-face {
  src: url(../fonts/Lato-Light.ttf);
  font-family: lato-light;
}
@font-face {
  src: url(../fonts/Lato-Black.ttf)
  font-family: lato-black;
}
@font-face {
  src: url(../fonts/Lato-Thin.ttf);
  font-family: lato-thin;
}
@font-face {
  src: url(../fonts/Lato-ThinItalic.ttf);
  font-family: lato-thin-italic;
}
@font-face {
  src: url(../fonts/Lato-LightItalic.ttf);
  font-family: lato-light-italic;
}
@font-face {
  src: url(../fonts/Lato-BoldItalic.ttf);
  font-family: lato-bold-italic;
}
@font-face {
  src: url(../fonts/Lato-BlackItalic.ttf);
  font-family: lato-black-italic;
}
